<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histology Sections Viewer</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div id="viewer-container">
    <img id="section-viewer" src="" alt="Histology Section">
    <input
        id="slider"
        type="range"
        min="0"
        value="0"
        step="1"
    >
</div>

    <script src="static/scripts.js"></script>
</body>
</html>